.col-centered {
  text-align: center;
  align-items: center;
}

.y-label,
.x-label {
  font-size: 15px;
  font-weight: 600;
}

.x-label {
  position: absolute;
  right: 0;
  bottom: 0;
}

svg,
#chart-bubbles {
  width: 100%;
  height: 86vh;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

h2 {
  text-align: center;
}

h4 {
  text-align: right;
}

input[type="range"] {
  width: 80%;
}

.potential-programs-section {
  margin-top: 60px;
}

.info {
  font-size: 12px;
}

.potential-info {
  display: none;
  width: 200px;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  width: 200px;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
}

#click-before-splited {
  margin-top: 50px;
  font-size: 16px;
  display: none;
}

.existing-program-filters {
  background-color: rgba(12, 35, 75, 0.925);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  top: 15px;
  right: -370px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 380px;
  align-items: center;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.university-programs-filter-button {
  position: relative;
  margin-left: -98px;
  left: 0;
}

.university-programs-filter-button button {
  justify-content: center;
  transform: rotate(270deg);
  font-size: small;
  background-color: rgba(171, 5, 33, 0.93);
  color: white;
  transition: transform 2s;
}

.university-programs-filter-button button:hover {
  background-color: rgb(171, 5, 33);
  margin: 0px 4px 0px -4px;
}

.program-checkboxes {
  margin-top: 20px;
  position: relative;
  overflow-y: auto;
  height: 95vh;
  width: 340px;
  margin-left: -70px;
  color: white;
}

.checkbox label {
  color: white !important;
}

.existing-program-filters hr {
  margin-top: 30px;
  border-top: solid 0.01px white;
}

.border-top {
  padding-top: 8px;
  margin-bottom: -12px;
  border-top: solid 0.01px white;
}
